@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/proxima/ProximaNova-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}